extends dashboard

include mixins/_editUserForm

block content
  h1 Hello, #{user.name}!
  
  h2 Looking to update content on your bars?
    a(href="/manage-bars" class="button button-primary") Manage Bars
  
  .edb-panel.edb-panel--wide
    .edb-panel--header
      h4 Edit your details
    .edb-panel--content
      +editUserForm()
