extends dashboard

include mixins/_loginForm

block content
  .login-card
    .login-card--header
      h1.title Edinbar Dashboard
    .login-card--inner
      +loginForm()
    a(href="/register") Not got an account? Register
    
    
