doctype html
html
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.top
        nav.nav
          
    .content
      block content

    footer
      block footer
        p Edinbar | Built by Jamie Halvorson
