%button-reset {
  border: 0;
  background: none;
  border-radius: 0;
  box-shadow: none;
}

.button {
  @extend %button-reset;
}

.button--simple {
  padding: 15px;
  background-color: royalblue;
  color: #fff;
}

.button--save {
  padding: 15px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}
