mixin barForm(bar = {})
  form(action=`/add/${bar._id || ''}` method="POST" class="form")
    .form-section
      label(for="name") Name
      input(type="text" name="name" class="form-input text" value=(bar.name && bar.name))
        
    .form-section.stacked
      h3 Location
      label(for="address") Address
      input(type="text" id="address" name="location[address]" value=(bar.location && bar.location.address))
      label(for="lat") Address Lat
      input(type="text" id="lat" name="location[coordinates][lat]" value=(bar.location && bar.location.coordinates.lat) required)
      label(for="lng") Address Lng
      input(type="text" id="lng" name="location[coordinates][lng]" value=(bar.location && bar.location.coordinates.lng) required)
        
    .form-section
      label(for="description") Description
      textarea(name="description" class="form-input textarea")
  
    .form-section
      label(for="beers") List your beers
      input(type="text" name="beers" class="form-input text" placeholder="Innes & Gunn, Hop House 13 etc...")
    
    .form-section
      label(for="wines") List your wines
      input(type="text" name="wines" class="form-input text" placeholder="Wine, Wine etc...")
    
    .form-section
      label(for="spirits") List your spirits
      input(type="text" name="spirits" class="form-input text" placeholder="Gin, Gine etc...")
    
    .form-section
      - const tags = ['WiFI', 'Local Beers', 'Dog Friendly', 'Spirits', 'Music']
      h4 Select relevant tags for your bar
      ul.form-input.tags
        each tag in tags
          li.tag
            input(type="checkbox" id=tag value=tag name="tags") 
            label(for=tag)= tag
            
    .form-section
      input(type="submit" value="Save Bar!" class="button button--save")
              
